<div class="container bg-secondary ">
    <div class="row ">
        <div class="col-6 img fluid rounded float-left">
            <img class="d-flex align-items-right" src="../../assets/images/img1.png" alt="">

        </div>
        <div class="col-6 d-flex align-items-center"><h1 class="font">Vidas negras importam!</h1></div>
    </div>


<div class="row bg-light pt-5">
    <div class="col-6 pt-5 pb-5">
        <h1 class="display-4" style="color: black;">Vidas negras importam?</h1>
        <p class="lead ">Um adolescente de 14 anos é baleado dentro de casa no Rio de Janeiro. Uma menina de oito anos é atingida por um tiro dentro da van. Um jovem de 18 anos é baleado e morto numa fila para entrega de cestas básicas. Um homem é barrado na entrada do seu prédio pela vizinha que não acreditou que ele morasse lá. Uma estudante de quinze anos foi alvo de insultos e agressões verbais pelos colegas de turma de uma escola de elite.

            Esses casos são reais, e não é coincidência que as vítimas sejam pessoas negras.
            
            O assassinato de George Floyd, na última semana, nos Estados Unidos, nos comove pela crueldade e desumanidade da cena de seus últimos suspiros.</p>
        <hr class="my-4">
        <p> Gostaria de conhecer melhor nosso trabalho? Entre
            em contato conosco!</p>
        <a class="btn btn-dark btn-lg" href="#" role="button">Entre em contato</a>

    </div>
    <div class="col-6 ">
        <img src="../../assets/images/img2.png" style="width: 555px;" alt="">
    </div>
</div>
<div class="row">
    <div class="col-6 p-5 bg-dark">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jcBvLr8xOWg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-6 p-5 bg-dark">
        <h1 class="display-4" style="color: rgb(255, 255, 255);">Mais uma vez, vidas negras importam!</h1>
        <p class="pt-5" style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, repellendus eaque, accusamus error architecto at cupiditate, reprehenderit accusantium illum eveniet facere. Reprehenderit fugiat in sapiente exercitationem eaque voluptate nesciunt nam.</p>

    </div>
</div>
<div class="row bg-light ">
    <div class="col-12 d-flex justify-content-center p-5">
        <h1>Artigos</h1>
    </div>

</div>

<div class="card-group ">
    <div class="card bg-light">
        <img class="card-img-top" src="../../assets/images/pt6.jpg" alt="Imagem de capa do card">

        <div class="card-body bg-light">
            <h5 class="card-title">O que é apropriação cultural?</h5>
            <p class="card-text">Para entender o que ‘apropriação cultura’ significa precisamos, antes, compreender o significado de ‘apropriação’ e ‘cultura’ de forma individual.

                Podemos definir ‘cultura’ como sendo o conjunto de práticas, símbolos e valores que um grupo específico compartilha entre si. Por exemplo, as ocas são um símbolo importante para a cultura indígena, pois é parte essencial da constituição histórica do grupo da qual ela pertence.  
                
                Já ‘apropriação’ é o ato de tomar para si determinado elemento sem o consentimento do proprietário. Mas, então, o que seria a  ‘apropriação cultural’? </p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
    </div>
    <div class="card bg-light">
        <img class="card-img-top" src="../../assets/images/pt5.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Racismo e desigualdade são estruturais no Brasil</h5>
            <p class="card-text">No período da escravatura, a legislação dava aos escravos tratamento mínimo. Sofrimentos e humilhações já começavam na travessia do Atlântico a caminho do Brasil. No entanto, nem mesmo essas normas eram respeitadas. Na prática, o tratamento dado aos escravizados podia se equiparar ao dado a animais. Chegados ao Brasil, eram levados e mantidos em um entreposto comercial, denominado como “Valongo”, onde era feita, de maneira legal, a negociação dos escravos.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
    </div>
    <div class="card bg-light">
        <img class="card-img-top" src="../../assets/images/pt4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Para Emicida, Brasil tem um 'racismo extremamente sofisticado e letal'</h5>
            <p class="card-text">Jovem e carismático, o rapper Emicida construiu um império cultural a partir da periferia de São Paulo, fundindo diferentes ritmos, realidades e perspectivas de um país polarizado com desigualdades abismais e um "racismo sofisticado e letal". Seu segredo? Ser o ponto de encontro dessas correntes e tensões.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card bg-light">
        <img class="card-img-top" src="../../assets/images/pt3.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">O Brasil despertou para o racismo?</h5>
            <p class="card-text">Após o assassinato de Floyd, em 25 de maio, protestos se multiplicaram em diferentes cidades brasileiras. Os manifestantes repudiavam a morte de um homem negro por sufocamento nos EUA e chamavam atenção para a situação brasileira, sobretudo o viés racista apontado na violência policial.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
    </div>
    <div class="card bg-light">
        <img class="card-img-top" src="../../assets/images/pt2.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">'Especial Inspiração': Frei David, que há 40 anos luta contra o racismo no Brasil, chora com homenagem</h5>
            <p class="card-text">“Me considero uma pessoa inquieta, descobri a partir do próprio sofrimento que devemos investir na consciência do povo negro, em criar oportunidades. Há mais de 40 anos, lutamos pela inclusão do negro nas oportunidades que todo branco tem.”</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
    </div>
    <div class="card bg-light">
        <img class="card-img-top" src="../../assets/images/pt1.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Padres sofrem racismo de fiéis no Brasil por serem negros</h5>
            <p class="card-text">Foi o que aconteceu na Paróquia Santo Antônio, em Adamantina, a 578 km de São Paulo (SP). Desde que assumiu a igreja matriz, em 2012, o padre Wilson Luís Ramos alegou ter sido vítima de discriminação por parte de alguns fiéis. Houve quem dissesse que “deveriam trocar o galo de bronze do alto da igreja por um urubu”.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
    </div>
</div>
<div class="row bg-secondary ">
    <div class="col-12"><h1> Contato</h1></div>
    <div class="col-6">
        <form>
            <div class="form-group">
                <label for="exampleInputPassword1">Nome</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nome">
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Endereço de email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
              <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
            </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Mensagem</label>
                <textarea type="password" class="form-control" id="exampleInputPassword1" placeholder="Mensagem"></textarea>
              </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Deseja receber novidades por email?</label>
            </div>
            <button type="button" class="btn btn-outline-light d-flex justify-content-between m-5">Enviar</button>
          </form>
    </div>
    <div class="col-6">
    </div>
</div>
</div>
